body {
  font: "Space Grotesk", sans-serif;
  background-color: #fff6e9;
}
.login-container {
  position: relative;
}
.login-div {
  position: absolute;
  top: 70px;
  left: 50px;
  background-color: #ffecd1;
  padding: 25px 0 0 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 300px;
  height: 400px;
  border: 5px solid #083d32;
  border-radius: 7.28px;
}
.login-div h1 {
  font-size: 25px;
  font-weight: bold;
  color: #083D32;
}
.login-div p{
    font-size: 14px;
}

.input-label{
    font-size: 14px;
    color: #0D9276;
}

.username{
    background-color: #ffecd1;
    border: 2px solid black;
    border-radius: 7.28px;
    width: 250px;
    height: 35px;
    margin-bottom: 10px;
}

.password{
    background-color: #ffecd1;
    border: 2px solid black;
    border-radius: 7.28px;
    width: 250px;
    height: 35px;
}
